# =========================
# Entornos virtuales
# =========================
venv/
env/
ENV/
.venv/
normalizador/
pruebas/
# =========================
# Caché de Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Archivos de entorno
# =========================
.env
.env.*
*.env

# =========================
# Archivos de logs
# =========================
*.log

# =========================
# Bases de datos locales
# =========================
*.db
*.sqlite

# =========================
# Archivos del sistema
# =========================
.DS_Store
Thumbs.db

# =========================
# Archivos de configuración del editor / IDE
# =========================
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# =========================
# Archivos temporales
# =========================
*.tmp
*.bak
*.swp
*.lock

# =========================
# Carpetas o scripts de salida / scrapings
# =========================
lib/
scripts/
pythonScrapper/Lib/      # Ignora la carpeta de librerías locales si existe